$primary: #0d6efd

@import "~bulma"
@import "~buefy/src/scss/buefy"

@import "~@fortawesome/fontawesome-svg-core/styles"

@import "./colors"

.modal-card
  width: auto
  .modal-card-body:last-child
    border-bottom-left-radius: 6px
    border-bottom-right-radius: 6px

.b-tabs
  &.is-vertical
    flex-wrap: nowrap

.help.counter
  position: absolute
  right: 0

.is-avatar
  border-radius: 50%
  box-shadow: 1px 1px 1px #0000002e
  &.is-medium
    width: 4em
    height: 4em

.navbar.is-light
  box-shadow: 0px 2px 10px #0000002e
  .navbar-brand
    a.navbar-item.is-active
      font-weight: bold
      background-color: transparent
  .navbar-dropdown
    a.navbar-item.is-active
      color: $link
